{% extends 'products/base.html' %}

{% block content %}
    <h1 class="my-4">Detail -
        <small>{{ object.name }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Currency:</strong> {{ object.currency }}</li>
              <li class="list-group-item"><strong>Interest rate:</strong> {{ object.interest_rate }}</li>
              <li class="list-group-item"><strong>Amount:</strong> {{ object.amount }}</li>
            </ul>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-12">
                <a href="{% url 'account_edit' object.id %}"><button type="button" class="btn btn-success">Edit</button></a>
                <a href="{% url 'account_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
        </div>
    </div>
{% endblock %}
