{% extends 'products/base.html' %}

{% block content %}
    <h1 class="my-4">
        <small>Income List</small>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-outline-info btn-md" href="{% url 'income_new' %}">+ New</a>
            </li>
          </ul>
    </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
    {% if object_list %}
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Account</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">View</th>
                    <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for income in object_list %}
                <tr>
                    <td>{{ income.account.name }}</td>
                    <td>{{ income.category.name }}</td>
                    <td>{{ income.amount }}</td>
                    <td><a href="{% url 'income_view' income.id %}"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></td>
                    <td><a href="{% url 'income_delete' income.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            There is no income, yet.
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}
