@model IEnumerable<Formula1.Country>

@{
    ViewData["Title"] = "Країни";
}

<h1>Країни</h1>

<p>
    <a asp-action="Create">Додати нову країну</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>



<table class="columns">
    <tr>
        <td><div id="chart1" style="border: 1px solid #ccc"></div></td>
        <td><div id="chart2" style="border: 1px solid #ccc"></div></td>
    </tr>
</table>


@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Chart/JsonData1', function(JsonData1) {
                data = google.visualization.arrayToDataTable(JsonData1, false);
                var option = {
                    title: "Співвідношення кількості трас та країн",
                    width: 500,
                    height: 400,
                    backgroundColor: '#222222',
                    titleTextStyle: {color: "white"},
                    legend: {textStyle:{color: 'white'}}
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Chart/JsonData2', function(JsonData2) {
                data = google.visualization.arrayToDataTable(JsonData2, false);
                var option = {
                    title: "Співвідношення кількості гонщиків та країн",
                    width: 500,
                    height: 400,
                    legend: {position: "none"},
                    backgroundColor: '#222222',
                    titleTextStyle: {color: "white"},
                    hAxis: {textStyle: {color:'white'}, titleTextStyle:{color:'white'}},
                    vAxis: {textStyle: {color:'white'}}
                };
                chart = new google.visualization.BarChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}
