@model Formula1.Race

@{
    ViewData["Title"] = "Create";
}

<h1>Створити</h1>

<h4>Гонка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.SeasonId" name="SeasonId" />
            
            <div class="form-group">
                <label asp-for="CircuiteId" class="control-label"></label>
                <select asp-for="CircuiteId" class ="form-control" asp-items="ViewBag.CircuiteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LapCount" class="control-label"></label>
                <input asp-for="LapCount" class="form-control" />
                <span asp-validation-for="LapCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Назад до списку", "Index", new { id = @ViewBag.SeasonId})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
